/*
 * -------------------------------------------------
 *  Nextflow config file for running imputation tests
 * -------------------------------------------------
 * Uses small and large datasets from refimpute directory
 * with H3Africa reference panels (smaller chromosomes for testing)
 */

params {
  project_name            = 'test_refimpute_run'
  project_description     = 'Imputation test using refimpute data on chr21,22'
  outDir                  = "output/${project_name}"
  help                    = false
  max_memory = 8.GB
  max_cpus = 4
  max_time = 12.h

  // Reference panels - using H3Africa v6 panels for chr21,22 (smaller chromosomes)
  ref_panels = [ 
    [ 'H3AR6x', "/cbio/dbs/refpanels/h3a_reference_panels/h3a_r6/h3a_r6x/m3vcfs/H3AR6x_chr%s_all.m3vcf.gz", "/cbio/dbs/refpanels/h3a_reference_panels/h3a_r6/h3a_r6x/vcfs/H3AR6x_chr%s_all.vcf.gz" ],
  ]

  // Study datasets - using small and large test files
  target_datasets = [
    ["small_test", "/cbio/projects/001/clients/refimpute/data/input/raw/original_data/testv6/test.small.vcf.gz"],
    ["awigen_1000", "/cbio/projects/001/clients/refimpute/data/input/raw/original_data/awigen_1000.vcf.gz"]
  ]

  // Genetic map for eagle2 - using H3Africa genetic map
  eagle_genetic_map = "/cbio/dbs/refpanels/eagle/tables/genetic_map_hg19_withX.txt.gz"

  // Reference genome for QC (using hg38 build)  
  reference_genome  = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta"

  // List chromosomes to be used - using smaller chromosomes for faster testing
  chromosomes = "21,22"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2"
  impute_info_cutoff = "0.3"
  chunk_size = "10000000" // 10Mb chunks for faster processing
  buffer_size = "500000"  // 500kb buffer

  // QC parameters
  site_miss                = "0.05"
  hwe			  = "0.00001"
  mac			  = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'
  maf_thresh = '0.1'

  // Phasing method: eagle2
  phasing_method          = "eagle"

  // Imputation method minimac4
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.1'

  // Plink to use
  plink="plink2"

  // Email
  email = ''
}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_dag.png"
  overwrite = true
}

process {
// Process-specific resource requirements for testing
  withLabel: 'medium' {
    memory = 2.GB
    cpus = 2
  }
  withLabel : 'bigmem' {
    memory = 4.GB
    cpus = 2
  }
  withLabel : 'verylarge' {
    memory = 6.GB
    cpus = 3
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} "
  }
  slurm {
    queueSize = 5
  }
  test {
    queueSize = 5
  }
}