/*
 * -------------------------------------------------
 *  Nextflow config file for testing with small AWIGen dataset
 * -------------------------------------------------
 * Uses small AWIGen dataset (500 samples) for chromosome 20 testing
 */

params {
  project_name            = 'test_genepi_chr20_hg38'
  project_description     = 'Test run using genepi imputationserver chr20 hg38 unphased test data'
  outDir                  = "output/${project_name}"
  help                    = false
  max_memory = 2.GB
  max_cpus = 1
  max_time = 12.h

  // Reference panels - using V7HC-S chr20 with MSAV format
  ref_panels = [ 
    [ 'V7HC-S_chr20', "/cbio/dbs/refpanels/h3a_reference_panels/version_7/v7hc_s/msavs/V7HC-S_chr20_all.v2025.05.msav", "/cbio/dbs/refpanels/h3a_reference_panels/version_7/v7hc_s/bcfs/V7HC-S_chr20_all.bcf" ],
  ]

  // Study datasets - using genepi imputationserver test data (hg38 unphased)
  target_datasets = [
    ["test_chr20_hg38", "/cbio/dbs/refpanels/test_data/chr20-unphased-hg38/chr20.R50.merged.1.330k.recode.unphased.small.hg38.vcf.gz"]
  ]

  // Genetic map for eagle2 - using hg38 genetic map to match target data
  eagle_genetic_map = "/cbio/dbs/eagle2/genetic_map_hg38_withX.txt.gz"

  // Reference genome - using hg38 reference for genome build consistency
  reference_genome = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta"

  // Test with chromosome 20 only
  chromosomes = "20"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2"
  impute_info_cutoff = "0.3"
  chunk_size = "5000000"  // 5Mb chunks for single chromosome
  buffer_size = "250000"  // 250kb buffer

  // QC parameters
  site_miss                = "0.05"
  hwe			  = "0.00001"
  mac			  = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'
  maf_thresh = '0.1'

  // Phasing method: eagle2
  phasing_method          = "eagle"

  // Imputation method: minimac4
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.1'

  // Plink to use
  plink="plink2"

  // Email
  email = ''
}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_dag.png"
  overwrite = true
}

process {
  withLabel: 'medium' {
    memory = 1.GB
    cpus = 1
  }
  withLabel : 'bigmem' {
    memory = 1.GB
    cpus = 1
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} -B /cbio "
  }
  slurm {
    queueSize = 3
  }
  test {
    queueSize = 3
  }
}