/*
 * -------------------------------------------------
 *  Nextflow config file for testing with V6 MSAV reference panels
 * -------------------------------------------------
 * Uses local V6 MSAV files instead of downloading M3VCF files
 */

params {
  project_name            = 'test_v6_msav'
  project_description     = 'Test run using local V6 MSAV reference panels'
  outDir                  = "output/${project_name}" 
  help                    = false
  max_memory = 4.GB
  max_cpus = 1
  max_time = 48.h

  // Reference panels - Using local V6 MSAV files 
  // Format: [name, msav_pattern, vcf_pattern]
  ref_panels = [ 
    [ 'V6HC-S', "/cbio/dbs/refpanels/h3a_reference_panels/version_6/v6hc_s/msavs/V6HC-S_chr%s_all.v2025.05.msav", "/cbio/dbs/refpanels/h3a_reference_panels/version_6/v6hc_s/bcfs/V6HC-S_chr%s_all.bcf" ],
  ]

  // Study datasets - using test data
  target_datasets = [
    ["testStudy", "https://github.com/h3abionet/chipimputation_test_data/raw/master/testdata_imputation/target_testdata.vcf.gz"]
  ]

  // Genetic map for eagle2
  eagle_genetic_map = "https://github.com/h3abionet/chipimputation_test_data/raw/master/testdata_imputation/genetic_map_hg19_withX_testdata.txt.gz"

  // Reference genome used for QC
  reference_genome  = "https://github.com/h3abionet/chipimputation_test_data/raw/master/testdata_imputation/hg19_testdata.fasta"

  // Test with chromosomes 21,22 (available in both test data and V6 panel)
  chromosomes = "21,22"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2" 
  impute_info_cutoff = "0.3"
  chunk_size = "20000000" 
  buffer_size = "1000000" 

  // QC parameters
  site_miss                = "0.05"
  hwe			  = "0.00001"
  mac			  = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'
  maf_thresh = '0.1'

  // Phasing method: eagle2
  phasing_method          = "eagle"

  // Imputation method: minimac4 
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.1'

  // Plink to use
  plink="plink2"

  // Email
  email = ''
}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_dag.png"
  overwrite = true
}

process {
  withLabel: 'medium' {
    memory = 2.GB
    cpus = 1
  }
  withLabel : 'bigmem' {
    memory = 3.GB
    cpus = 1
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} -B /cbio "
  }
  slurm {
    queueSize = 10
  }
  test {
    queueSize = 10
  }
}