/*
 * -------------------------------------------------
 *  Nextflow config file for v6 chr21 phased imputation
 * -------------------------------------------------
 * Uses v6.cgp.vf.va.filter-pass.chr21_chr21_5030081_15030080_phased.vcf.gz
 * as target data with H3Africa reference panels
 */

params {
  project_name            = 'v6_chr21_phased_imputation'
  project_description     = 'Imputation test using v6 chr21 phased data'
  outDir                  = "output/${project_name}"
  help                    = false
  max_memory = 8.GB
  max_cpus = 4
  max_time = 12.h

  // Reference panels - using H3Africa v6 panels for chr21
  ref_panels = [ 
    [ 'H3AR6x', "/cbio/dbs/refpanels/h3a_reference_panels/version_6/v6hc_s/msavs/V6HC-S_%s_all.v2025.05.msav", "/cbio/dbs/refpanels/h3a_reference_panels/version_6/v6hc_s/bcfs/V6HC-S_%s_all.bcf" ],
  ]

  // Study datasets - using the specified v6 chr21 phased VCF file
  target_datasets = [
    // ["v6_chr22_phased", "/cbio/projects/001/clients/refimpute/data/input/raw/original_data/testv6/test.v6.cgp.chr22.vcf.gz"],
    // ["v6_chr22_phased", "/cbio/users/mamana/resources/reference-data/reference/test_data/test_b38/v6.cgp.vf.va.chr22.filter-pass.three.samples.vcf.gz"],
    ["v6_chr21_phased", "/cbio/projects/001/clients/refimpute/data/input/raw/original_data/testv6/v6.cgp.vf.va.filter-pass.chr21_chr21_5030081_15030080_phased.vcf.gz"]
  ]

  // Genetic map for eagle2 - using H3Africa genetic map
  eagle_genetic_map = "/cbio/dbs/refpanels/eagle/tables/genetic_map_hg19_withX.txt.gz"

  // Reference genome for QC (using hg38 build)  
  reference_genome  = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta"

  // Target chromosome - chr21 only since that's what the file contains
  chromosomes = "ALL"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2"
  impute_info_cutoff = "0.3"
  chunk_size = "2000000" // 10Mb chunks - matches the region size in filename
  buffer_size = "500000"  // 500kb buffer

  // QC parameters
  site_miss                = "0.05"
  hwe			  = "0.00001"
  mac			  = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'
  maf_thresh = '0.1'

  // Phasing method: eagle2 (though data is already phased)
  phasing_method          = "eagle"

  // Imputation method minimac4
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.01'

  // Plink to use
  plink="plink2"

  // Email
  email = ''
}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_dag.png"
  overwrite = true
}

process {
// Process-specific resource requirements
  withLabel: 'medium' {
    memory = 2.GB
    cpus = 2
  }
  withLabel : 'bigmem' {
    memory = 4.GB
    cpus = 2
  }
  withLabel : 'verylarge' {
    memory = 6.GB
    cpus = 3
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} -B /cbio "
  }
  slurm {
    queueSize = 5
  }
  test {
    queueSize = 5
  }
}