/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'CHECK_FILES|CHECK_CHROMOSOME' {
        publishDir = [
            path: { "${params.outdir}/qc" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'QC_DUPL|SPLIT_MULTI_ALLELIC|FILTER_MIN_AC' {
        publishDir = [
            path: { "${params.outdir}/qc/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,log}"
        ]
    }

    withName: 'QC_SITE_MISSINGNESS|SITES_ONLY' {
        publishDir = [
            path: { "${params.outdir}/qc/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,sites}"
        ]
    }

    withName: 'GENERATE_CHUNKS_VCF|SPLIT_TARGET_TO_CHUNK' {
        publishDir = [
            path: { "${params.outdir}/chunks/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: 'EAGLE_PHASING' {
        ext.args = "--pbwtIters ${params.eagle_pbwt_iters}"
        publishDir = [
            path: { "${params.outdir}/phased/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,log}"
        ]
    }

    withName: 'IMPUTE_MINIMAC4' {
        ext.args = "--allTypedSites"
        publishDir = [
            path: { "${params.outdir}/imputed/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{dose.vcf.gz,dose.vcf.gz.tbi,info}"
        ]
        cpus   = { check_max( 4 * task.attempt, 'cpus' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h * task.attempt, 'time' ) }
    }

    withName: 'EXTRACT_IMPUTE_INFO' {
        publishDir = [
            path: { "${params.outdir}/imputed/${meta.id}/info" },
            mode: params.publish_dir_mode,
            pattern: "*.{info.gz}"
        ]
    }

    withName: 'COMBINE_IMPUTE|COMBINE_INFO' {
        publishDir = [
            path: { "${params.outdir}/imputed/${meta.id}/combined" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,info.gz}"
        ]
    }

    withName: 'FILTER_INFO_BY_TARGET' {
        publishDir = [
            path: { "${params.outdir}/reports/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,tsv}"
        ]
    }

    withName: 'REPORT_WELL_IMPUTED_BY_TARGET|REPORT_ACCURACY_TARGET' {
        publishDir = [
            path: { "${params.outdir}/reports/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,tsv,html}"
        ]
    }

    withName: 'PLOT_.*' {
        container = 'mamana/python-plotting:1.0.0'
        publishDir = [
            path: { "${params.outdir}/plots/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{png,pdf,svg,html}"
        ]
    }

    withName: 'RUN_QC_PLOTS' {
        container = 'mamana/python-plotting:1.0.0'
        publishDir = [
            path: { "${params.outdir}/qc_plots/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{png,pdf,html}"
        ]
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}