/*
 * -------------------------------------------------
 *  Nextflow config file for running tests with CBIO data
 * -------------------------------------------------
 * Uses local test data from /cbio/dbs/refpanels
 */

params {
  project_name            = 'test_cbio'
  project_description     = 'Test run using CBIO local test data for chr21 and chr22'
  outDir                  = "output/${project_name}"
  help                    = false
  max_memory = 2.GB
  max_cpus = 1
  max_time = 4.h

  // Reference panels - Using local CBIO test data
  ref_panels = [ 
    [ 'testdata_chr21', "/cbio/dbs/refpanels/testdata/m3vcfs/testdata_chr21_all.m3vcf.gz", "/cbio/dbs/refpanels/testdata/bcfs/testdata_chr21_all.bcf" ],
    [ 'testdata_chr22', "/cbio/dbs/refpanels/testdata/m3vcfs/testdata_chr22_all.m3vcf.gz", "/cbio/dbs/refpanels/testdata/bcfs/testdata_chr22_all.bcf" ]
  ]

  // Study datasets - Using local CBIO test data
  target_datasets = [
    ["testdata_chr21", "/cbio/dbs/refpanels/testdata/vcfs/testdata_chr21_all.vcf.gz"],
    ["testdata_chr22", "/cbio/dbs/refpanels/testdata/vcfs/testdata_chr22_all.vcf.gz"]
  ]

  // Genetic map for eagle2 - Using local CBIO genetic map
  eagle_genetic_map = "/cbio/dbs/refpanels/external_references/1000_genomes/phase3_standard/1000G/MAP/genetic_map_chr21_combined_b37.txt"

  // Reference genome - Using local CBIO reference
  reference_genome = "/cbio/dbs/refpanels/test_and_development/test_datasets/chr20_test/reference/hg19_reference_genome_chr20.fasta"

  // Test chromosomes - using only chr21 for faster testing
  chromosomes = "21"

  // Imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2"
  impute_info_cutoff = "0.3"
  chunk_size = "10000000"
  buffer_size = "1000000"

  // QC parameters
  site_miss = "0.05"
  hwe = "0.00001"
  mac = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'
  maf_thresh = '0.01'

  // Tool settings
  phasing_method = "eagle"
  impute_method = "minimac4"
  minRatio = '0.1'
  plink = "plink2"

  // Email
  email = ''
}

// Process resource configuration - adjusted for single CPU testing
process {
  withLabel: 'small' {
    memory = 1.GB
    cpus = 1
    time = 1.h
  }
  withLabel: 'medium' {
    memory = 2.GB
    cpus = 1
    time = 2.h
  }
  withLabel: 'bigmem' {
    memory = 2.GB
    cpus = 1
    time = 4.h
  }
  withLabel: 'bigmem10' {
    memory = 2.GB
    cpus = 1
    time = 4.h
  }
  withLabel: 'verylarge' {
    memory = 2.GB
    cpus = 1
    time = 6.h
  }
  withLabel: 'bigmem_impute5' {
    memory = 2.GB
    cpus = 1
    time = 4.h
  }
}

// Timeline and reporting
timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_dag.svg"
  overwrite = true
}

profiles {
  singularity {
    singularity.runOptions = " -B ${HOME} -B /cbio "
  }
  test_cbio {
    queueSize = 4
  }
} 