/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running complete tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines all parameters needed for a full pipeline test
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Complete test profile'
    config_profile_description = 'Complete test dataset with all parameters defined'

    // Limit resources for testing
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '2.h'

    // Input data
    input = "${projectDir}/test_sample.csv"
    
    // Output directory
    outdir = '/scratch3/users/mamana/test_results'

    // Test with chromosome 21 only
    chromosomes = '21'
    
    // QC parameters
    min_ac = 2
    site_missingness = 0.05
    r2_threshold = 0.3
    
    // Phasing parameters
    eagle_pbwt_iters = 2
    eagle_genetic_map = null  // Will use NO_FILE placeholder
    
    // Reference genome (optional for basic test)
    reference_genome = null  // Will use NO_FILE placeholder
    
    // Reference panels for imputation
    // For testing, we'll use dummy panels or skip imputation
    ref_panels = []
    
    // Chunk parameters
    chunk_size = 5000000
    
    // Minimac4 parameters
    minRatio = 0.01
    
    // Reporting
    qc_plots = true
    
    // Pipeline info
    version = '1.0.0'
    project_name = 'test_run'
}