/*
 * -------------------------------------------------
 *  Nextflow config file for running local tests
 * -------------------------------------------------
 * Minimal test configuration without remote file dependencies
 */

params {
  project_name            = 'test_local'
  project_description     = 'A minimal test run for container validation'
  outDir                  = "output/${project_name}"
  help                    = false
  max_memory = 2.GB
  max_cpus = 2
  max_time = 4.h

  // Imputation parameters (minimal for testing)
  NE = "20000"
  impute_iter = "5"
  impute_burnin = "1"
  impute_info_cutoff = "0.3"
  chunk_size = "1000000"
  buffer_size = "100000"

  // QC parameters
  site_miss = "0.05"
  hwe = "0.00001"
  mac = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'
  maf_thresh = '0.1'

  // Tool settings
  phasing_method = "eagle"
  impute_method = "minimac4"
  minRatio = '0.1'
  plink = "plink2"
  chromosomes = "22"

  // Email
  email = ''
}

// Simple process resource configuration
process {
  withLabel: 'small' {
    memory = 500.MB
    time = 30.min
  }
  withLabel: 'medium' {
    memory = 1.GB
    time = 1.h
  }
  withLabel: 'bigmem' {
    memory = 1.GB
    time = 2.h
  }
  withLabel: 'bigmem_impute5' {
    memory = 1.GB
    time = 2.h
  }
}

// Timeline and reporting
timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_dag.svg"
  overwrite = true
}

profiles {
  singularity {
    singularity.runOptions = " -B ${HOME} "
  }
} 