/*
 * -------------------------------------------------
 *  Nextflow config file for running tests with local files
 * -------------------------------------------------
 * Uses existing downloaded test data files
 */

params {
  project_name            = 'test_run_local'
  project_description     = 'A simple imputation run using existing local test data'
  outDir                  = "output/${project_name}"
  help                    = false
  max_memory = 2.GB
  max_cpus = 1
  max_time = 48.h

  // Reference panels - use existing files
  ref_panels = [ 
    [ 'testRefPanel', "work/ee/5b531d8a9e8491d4e96911d8ef8e34/refPanel_testdata_22_phased.m3vcf.gz", "work/ee/5b531d8a9e8491d4e96911d8ef8e34/refPanel_testdata_22_phased.vcf.gz" ],
  ]

  // Study datasets - use existing files
  target_datasets = [
    ["testStudy", "work/9d/343dc8d368770c0f3f8da6b7daacec/target_testdata.vcf.gz"]
  ]

  // Genetic map for eagle2 - use existing file
  eagle_genetic_map = "work/ee/5b531d8a9e8491d4e96911d8ef8e34/genetic_map_hg19_withX_testdata.txt.gz"

  // Reference genome used for QC - use existing file
  reference_genome  = "work/85/e5333350d380e35719e4a013b52266/hg19_testdata.fasta"

  // List chromosomes to be used
  chromosomes = "22"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2"
  impute_info_cutoff = "0.3"
  chunk_size = "20000000"
  buffer_size = "1000000"

  // QC parameters
  site_miss                = "0.05"
  hwe			  = "0.00001"
  mac			  = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'
  maf_thresh = '0.1'

  // Phasing method: eagle
  phasing_method          = "eagle"

  // Imputation method minimac4
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.1'

  // Plink to use
  plink="plink2"

  // Email
  email = ''

}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_dag.png"
  overwrite = true
}

process {
  withLabel: 'medium' {
    memory = 1.GB
  }
  withLabel : 'bigmem' {
    memory = 1.GB
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} "
  }
  slurm {
    queueSize = 10
  }
  test {
    queueSize = 10
  }
} 