/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run h3abionet/chipimputation -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = "${projectDir}/assets/samplesheet_test.csv"

    // Genome references
    genome = 'GRCh37'
    
    // Test chromosomes - use only chr21 for speed
    chromosomes = '21'
    
    // Reference panels for testing
    ref_panels = [
        ['testRefPanel', 
         "${projectDir}/test_data/ref_panel/chr21.m3vcf.gz",
         "${projectDir}/test_data/ref_panel/chr21.vcf.gz"]
    ]
    
    // Eagle genetic map
    eagle_genetic_map = "${projectDir}/test_data/genetic_map/eagle_genetic_map_hg19_withX.txt.gz"
    
    // Reference genome
    reference_genome = "${projectDir}/test_data/reference/chr21.fa"
    
    // Reduce chunk size for testing
    chunk_size = 5000000
    
    // Skip some optional steps for speed
    qc_plots = false
}